@use "../../styles/colors";

.field {
  display: block;
  width: 100%;
  margin-bottom: 1rem;

  .label {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
  }

  .error {
    display: block;
    color: colors.$torch-red;
    opacity: 0.7;
  }

  .input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    outline: 0;
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    border: 2px solid colors.$gallery;
    background-color: white;
    color: colors.$text;
    padding: 0.8rem;
    font-size: 1rem;
    margin: 4px 0;
    transition: 0.2s ease-in-out border-color;

    &:focus {
      border-color: colors.$secondary;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
