@use "../../styles/colors";

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  font-size: 1rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transform: translateY(0);
  transition: 0.1s ease-in-out transform, 0.2s ease-in-out background-color, 0.2s ease-in-out border-color;

  &.primary {
    background-color: colors.$primary;
    border-bottom: 2px solid colors.$primary-dark;
  }

  &.secondary {
    background-color: colors.$secondary;
    border-bottom: 2px solid colors.$secondary-dark;
  }

  &.danger {
    background-color: colors.$torch-red;
    border-bottom: 2px solid darken(colors.$torch-red, 5%);
  }

  &:active, &:hover {
    transform: translateY(-2px);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: colors.$dusty-gray;
    border-bottom-color: darken(colors.$dusty-gray, 5%);
  }

  svg {
    height: 20px;
    stroke: colors.$white;
  }
}

.button {
  @include button;
  width: 100%;
  margin: 0 auto;
}

.linkButton {
  @include button;
  background-color: colors.$secondary;
  border-bottom: 2px solid colors.$secondary-dark;
  padding: 0.3rem 1rem;
}
