@use "../../styles/colors";

.client {
  text-decoration: none;

  .heading {
    color: colors.$primary;
    font-size: 1.5rem;
  }

  .address {
    margin-bottom: 1rem;
  }

  .view {
    color: colors.$secondary;
    text-decoration: underline;
  }
}
