@use "../../styles/colors";

.client {
  display: flex;
  align-items: center;

  .info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
  }

  .heading {
    color: colors.$primary;
    font-size: 1.5rem;
  }

  .address {
    margin-bottom: 1rem;
  }
}
