@use "../../styles/colors";

.section {
  p {
    margin: 0;
  }

  h3 {
    > svg:first-child {
      margin-right: 0.5rem;
    }

    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
    display: flex;
    align-items: center;
    color: colors.$primary;

    a {
      margin-left: auto;
      margin-right: 0;
    }
  }

  > div:last-child {
    margin-bottom: 0;
  }

  .add {
    font-size: 0.75rem;
  }

  padding-bottom: 2rem;
  border-bottom: 2px dashed colors.$gallery;
  margin-bottom: 2rem;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.avatarCard {
  display: flex;
  align-items: center;

  .info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;

    .name {
      color: colors.$accent;
      font-weight: 600;
    }
  }
}
