// colors
$space-cadet: #1F2041;
$cyber-grape: #4B3F72;
$yellow-red: #FFC857;
$viridian-green: #119DA4;
$blue-sapphire: #19647E;
$mineshaft: #303030;
$gallery: #efefef;
$alabaster: #fafafa;
$white: #ffffff;
$torch-red: #ff0040;

// theme
$primary: $cyber-grape;
$secondary: $viridian-green;
$accent: $yellow-red;
