// colors
$space-cadet: #1f2041;
$cyber-grape: #4b3f72;
$yellow-red: #ffc857;
$viridian-green: #119da4;
$blue-sapphire: #19647e;
$mineshaft: #383838;
$gallery: #efefef;
$alabaster: #fcfcfc;
$white: #ffffff;
$torch-red: #ff0040;

// theme
$primary: $cyber-grape;
$secondary: $viridian-green;
$accent: $yellow-red;
