@use "./colors";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: colors.$ghost-white;
  color: colors.$text;

  label,
  input,
  textarea,
  button {
    font-family: inherit;
  }
}

svg {
  fill: currentColor;
}

a {
  color: colors.$secondary;
}
