@use "../../styles/breakpoints";

.layout {
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.container {
  flex: 1;
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;

  &.sideBarVisible {
    transform: translateX(-75vw);
  }
}

.content {
  padding: 0 1rem;
  max-width: breakpoints.$large-desktop;
  margin: 0 auto;

  @media (min-width: breakpoints.$large-desktop) {
    padding: 0;
  }
}
