@use "../../styles/colors";

.card {
  background-color: white;
  border: 2px solid colors.$gallery;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: colors.$mineshaft;
  text-decoration: none;
}

.view {
  color: colors.$secondary;
  text-decoration: underline;
  text-align: right;
}
