@use "../../styles/colors";

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border: 2px solid colors.$gallery;
  text-decoration: none;
}

.view {
  color: colors.$secondary;
  text-decoration: underline;
  text-align: right;
}
