@use "../../styles/colors";

$spacing: 2rem;

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 2.5rem;
    color: colors.$primary;
  }

  .image {
    width: 100%;
    max-width: 300px;
    margin: $spacing 0;
  }

  p {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }
}
