@use "../../styles/colors";

.sidebar {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: colors.$primary-dark;
  color: white;
  transform: translateX(75vw);
  width: 75vw;
  transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out;

  &.visible {
    transform: translateX(0);
  }

  a {
    margin-top: 1rem;
    font-size: 1rem;
    color: inherit;
  }
}

.close {
  align-self: flex-end;
  outline: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  font-size: 1.7rem;
  color: inherit;
}

.user {
  background-color: colors.$primary;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;

  .info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;

    span:nth-child(1) {
      font-size: 1rem;
      font-weight: 600;
    }
    span:nth-child(2) {
      font-size: 0.75rem;
    }
  }
}

.link {
  font-size: 1rem;
  background-color: colors.$primary;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}
