@use "../../styles/colors";
@use "../../styles/breakpoints";

.nav {
  position: relative;
  z-index: 2;
  background-color: colors.$primary;
  margin-bottom: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: colors.$white;
  max-width: breakpoints.$large-desktop;
  margin: 0 auto;
  padding: 1rem;

  .logo {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;

    svg {
      display: block;
      height: 100%;
      margin-right: 0.5rem;
    }
  }

  .link {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: colors.$accent;
    }
  }

  @media (min-width: breakpoints.$large-desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.desktopNav {
  display: none;

  a {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: breakpoints.$tablet) {
    display: flex;
    align-items: center;
  }
}

.burger {
  outline: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;

  @media (min-width: breakpoints.$tablet) {
    display: none;
  }
}
